:root{
  --black:#000;
  --primary:#1F2B6C;
  --secondery:#159EEC;
  --Accent:#BFD2F8;
  --firstfont:'Yeseva One', cursive;
  --secendfont:'Work Sans', sans-serif;
}

*{
  box-sizing: border-box
}
@media (min-width: 1362px) {
  body{
    padding-top: 11%;
  
}
}
@media (max-width: 1360px) {
  body{
    padding-top: 11%;
  
}
}
@media (max-width: 765px){
  body{
    padding-top: 27%;
  }
}
@media (max-width: 680px) {
  body{
    padding-top: 31%;
  }
  
}
@media (max-width: 500px) {
  body{
    padding-top: 40%;
  }
  
}
@media (max-width: 417px) {
  body{
    padding-top: 70%;
  }
  
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots:last-of-type {
  text-align: center;
  display: block;
}
.owl-dots {
  display: none;
}
.owl-dots .owl-dot {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: var(--Accent)!important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: var(--primary) !important;
}
